HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git

# Add your custom hosts here
# Example:
# Host myserver
#   HostName myserver.example.com
#   User username
#   ForwardAgent yes
